workflows/backup-and-archive-example.json
{
  "name": "Bookstack Backup and Archive Workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "shelf",
        "operation": "getAll"
      },
      "name": "Get All Shelves",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "resource": "book",
        "operation": "getAll"
      },
      "name": "Get All Books",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {
        "resource": "chapter",
        "operation": "getAll"
      },
      "name": "Get All Chapters",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "getAll"
      },
      "name": "Get All Pages",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "fileName": "bookstack-backup-{{ $today() }}.json",
        "fileContent": "={{ JSON.stringify({\n  timestamp: $now(),\n  shelves: $('Get All Shelves').all(),\n  books: $('Get All Books').all(),\n  chapters: $('Get All Chapters').all(),\n  pages: $('Get All Pages').all()\n}, null, 2) }}",
        "options": {}
      },
      "name": "Create Backup File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.updated_at }}",
              "rightValue": "={{ DateTime.now().minus({years: 1}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "leftValue": "={{ $json.tags }}",
              "rightValue": "archive",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ]
        }
      },
      "name": "Filter Books for Archive",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "resource": "book",
        "operation": "update",
        "id": "={{ $json.id }}",
        "name": "[ARCHIVED] {{ $json.name }}",
        "description": "={{ $json.description }}\n\n--- ARCHIVED on {{ $today() }} ---",
        "tags": "={{ $json.tags }},archived,old-content"
      },
      "name": "Archive Old Books",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "resource": "shelf",
        "operation": "create",
        "name": "Archived Content",
        "description": "This shelf contains archived books and documentation that are no longer actively maintained but kept for reference.",
        "tags": "archive,old,reference"
      },
      "name": "Create Archive Shelf",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Get All Shelves": {
      "main": [
        [
          {
            "node": "Get All Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Books": {
      "main": [
        [
          {
            "node": "Get All Chapters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Books for Archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Chapters": {
      "main": [
        [
          {
            "node": "Get All Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Pages": {
      "main": [
        [
          {
            "node": "Create Backup File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Books for Archive": {
      "main": [
        [
          {
            "node": "Archive Old Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Old Books": {
      "main": [
        [
          {
            "node": "Create Archive Shelf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}