workflows/content-management-example.json
{
  "name": "Bookstack Content Management Workflow",
  "nodes": [
    {
      "parameters": {
        "resource": "book",
        "operation": "getAll"
      },
      "name": "Get All Books",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.updated_at }}",
              "rightValue": "={{ DateTime.now().minus({days: 30}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ]
        }
      },
      "name": "Filter Old Books",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "resource": "book",
        "operation": "get",
        "id": "={{ $json.id }}"
      },
      "name": "Get Book Details",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "resource": "book",
        "operation": "update",
        "id": "={{ $json.id }}",
        "name": "={{ $json.name }}",
        "description": "={{ $json.description }} (Last reviewed: {{ $today() }})",
        "tags": "={{ $json.tags }},reviewed"
      },
      "name": "Update Book Review Date",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "resource": "global",
        "operation": "search",
        "query": "tag:outdated",
        "limit": 100,
        "page": 1
      },
      "name": "Find Outdated Content",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [300, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.type }}",
              "rightValue": "page",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "name": "Filter Outdated Pages",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "get",
        "id": "={{ $json.id }}"
      },
      "name": "Get Page Details",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "resource": "page",
        "operation": "update",
        "id": "={{ $json.id }}",
        "name": "={{ $json.name }}",
        "html": "={{ $json.html.replace('tag:outdated', 'tag:updated') }}",
        "tags": "={{ $json.tags.replace('outdated', 'updated') }}"
      },
      "name": "Update Page Tags",
      "type": "bookstack",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Get All Books": {
      "main": [
        [
          {
            "node": "Filter Old Books",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Old Books": {
      "main": [
        [
          {
            "node": "Get Book Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Book Details": {
      "main": [
        [
          {
            "node": "Update Book Review Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Outdated Content": {
      "main": [
        [
          {
            "node": "Filter Outdated Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Outdated Pages": {
      "main": [
        [
          {
            "node": "Get Page Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Details": {
      "main": [
        [
          {
            "node": "Update Page Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}